#sidemenu{
    width:325px;
    height:380px;
    text-align:center;
    border:1px solid black;
    border-radius:15px;
    margin-top:25px;
}

#sidebar{
    margin-top:1px;
    text-align:center;
    width:176px;
    height:300px;
    padding-left:3px;
    padding-right:3px;
    border-width:2px;
    border-style:hidden ridge hidden hidden;
    border-color:grey;
    border-radius:15px;
}

#sidebar1, #sidebar2, #sidebar3, #sidebar4, #sidebar5, #sidebar6, #sidebar7{
    margin-left:184px;
    margin-top:-299px;
    text-align:center;
    display:none;
    width:130px;
    height:300px;
    padding-left:3px;
    padding-right:3px;
    position:absolute;
}

h3{
    margin-top:0px;
}

h2#cnse, #maths, #cese, #cs, #dmd, #ee, #se{
    color:#666666;
    font-family:arial;
    font-weight:bold;
    display:none;
}

#headings{
    width:800px;
    margin-left:350px;
    position:absolute;
}

hr{
    position:absolute;
    width:800px;
    margin-top:55px;
    margin-left:345px;
    display:none;
}

#request{
    margin-bottom:10px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:15px;
    -moz-border-radius-bottomright:15px;
    border-bottom-right-radius:15px;
    -webkit-border-bottom-left-radius:15px;
    -moz-border-radius-bottomleft:15px;
    border-bottom-left-radius:15px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    padding:8px;
    margin:0px 25px 22px 25px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
    width:195px;
}

.item{
    margin-bottom:10px;
    display:inline-block;
    color:#666666;
    font-family:Arial;
    font-size:12px;
    padding:4px;
    font-weight:bold;
    font-style:normal;
}

.item:hover{
    text-decoration:underline;
    cursor:pointer;
}

a.color:hover{
    text-decoration:underline;
    cursor:pointer;
}

.selected{
    border-radius:15px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
    background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
    background-color:#e9e9e9;
}

*[id*='contact'] label{
    color:#777777;
    font-family:arial;
    font-weight:bold;
    font-size:18px;
}

*[id*='contact']{
    color:#666666;
    font-family:arial;
    font-size:15px;
    margin-left:425px;
    margin-bottom:100px;
    padding-right:12px;
    margin-top:-300px;
    line-height:170%;
    border:1px solid #666666;
    width:650px;
    min-height:375px;
    border-radius:15px;
    display:none;
}

*[id*='contact'] img{
    float:left;
    margin-right:35px;
    border-radius: 15px 0px 0px 0px;
}

ul.exc{
    color:#666666;
    font-family: arial;
    margin-left:295px;
    text-align:justify;
}

h3.caption{
    color:#666666;
    font-family: arial;
    margin-top:25px;
    margin-left:225px;
}

*[id*='contact'] a{
    color:blue;
}

*[id*='contact'] a:hover{
    text-decoration:underline;
}
